<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>
<h1>Registration Page</h1>
<hr>
<form action="register" method="post">
    {% csrf_token %}
<!--    csrf token is required for post but not get-->
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="text" name="username" placeholder="Enter a username"><br>
    <input type="email" name="email" placeholder="Enter your email id"><br>
    <input type="password" name="password1" placeholder="Enter a password"><br>
    <input type="password" name="password2" placeholder="Re-enter your password"><br>
    <input type="submit" value="submit"><br>
</form>
<hr>
<div>
<!--    call messages from views.py-->
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
</body>
</html>